## Question1

In [ ]:
#Q1. There are two lists:
l1 = [1,2,3,5,7,8,9,2]
l2 = [2,4,6,7,8,0,2]

# Write a Python program to find the unique common elements between two lists.

## Question2

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
df.head(10)

Calculate the average age for each sex by -

a) Group by

b) Slicing

## Question3

 Suggest how will you handle null values in column

a) Embarked

b) Age

# Question4

You are given a DataFrame df that contains data on multiple trades for various leads and their performance. The DataFrame includes the following columns:

lead_id: The identifier for the lead.

trade: The trade identifier.

delinquent: An indicator of the trade's performance (1 indicates poor performance, 0 indicates good performance).

Q) Catogerize each loan as secured loan or unsecured loan:

secured loan:['Two-Wheeler', 'Housing Loan']

unsecured loan: ['Personal Loan']

In [ ]:
import pandas as pd

data = {
    'lead_id': [123, 123, 123, 234, 234, 234, 345, 345, 345],
    'loan_type': ['Personal Loan', 'Two-Wheeler', 'Housing Loan', 'Personal Loan', 'Two-Wheeler', 'Housing Loan', 'Personal Loan', 'Two-Wheeler', 'Housing Loan'],
    'delinquent': [0, 0, 0, 1, 0, 0, 0, 1, 0]
}
df1 = pd.DataFrame(data)
df1.head()

A lead is considered "good" if all its trades have a delinquency value of 0. If any trade for a lead has a delinquency value of 1, the lead is considered "bad".

Write a function that prints all unique leads along with their overall profile ("good" or "bad").

# Question5

Write a recursive function to compute the factorial of a given number x.

# Question6

Return the most frequent letter(s) in text and how many times it is repeated.

def most_frequent_letters(input_string):
  <!-- Return the most frequent letter in text.
  >>> find_most_frequent_letter("This is a super long long long string. Please help count me") -->
  


most_frequent_letters("This is a super long long long string. Please help count me") -> (['s', 'e', 'l', 'n'], 5)

#Question7

In [ ]:
destination = 'Data/Retail_Transactions_Dataset.csv'

import gdown

file_id = '1IJ44ERujPp67Vw3wr6BsxUNet3yqI061'

# Construct the download URL
download_url = f'https://drive.google.com/uc?id={file_id}'

# Download the file
gdown.download(download_url, destination, quiet=False)

# Load into a DataFrame
df = pd.read_csv(destination)
df.drop(columns='Total_Items', inplace=True)
# Display the first few rows
df.head()

i) Identify the customer with most purchases.


ii) Add a new column that calculates the average product price for each "Transaction_ID", defined as the total cost divided by the number of items purchased.

iii) Display the distribution of different "Payment_Method"